<h1>Books Catalogue</h1>

<%= link_to "Add new Book", new_book_path %>
<hr>
<% @books.each do |book| %>
	<%= book.title  %>
	<br>
	<h6><%= "Book added: #{ book.created_at.strftime('%b %d, %Y,  at: %H:%M') }" %></h6>
	<p>
		<%= link_to "View Book", book_path(book) %>
		<%= link_to "Edit Book", edit_book_path(book) %>
	</p>
	<hr>
<% end %>