<div>
	<h2><%= @book.title %></h2>
	<hr>
	<%= link_to "Book Catalogue", root_path %>
	<%= link_to "Edit Book", edit_book_path %>
	<div>
		<row>
			<p><%= @book.description %></p>
			<h6><%= "Book added: #{ @book.created_at.strftime('%b %d, %Y') }" %></h6>
		</row>
		<row>
			<%= image_tag @book.cover_url %>
		</row>
	</div>
</div>
